.section {
  width: 100%;
  height: 100vh;
  background-image: url('../images/cover.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  height: 300px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-image: linear-gradient(103deg, #eb816a 26%, #e6a87c);
}

.link-block {
  width: 30px;
  height: 30px;
  max-height: 30px;
  max-width: 30px;
  background-image: url('../images/whatsapp.svg');
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
}

.link-block-2 {
  width: 30px;
  height: 30px;
  background-image: url('../images/twitter.svg');
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
}

.link-block-3 {
  width: 30px;
  height: 30px;
  background-image: url('../images/email.svg');
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
}

.link-block-4 {
  width: 30px;
  height: 30px;
  background-image: url('../images/linkedin.svg');
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 1.6em;
  line-height: 44px;
  font-weight: 700;
}

.text-block {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 16px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image {
  border-radius: 50%;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin-top: 23px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.heading-2 {
  margin-bottom: 42px;
  border-bottom: 2px solid #e18392;
  font-family: 'Open Sans', sans-serif;
  color: #434343;
  font-size: 30px;
}

.section-2 {
  width: 80vw;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.body {
  margin-top: 0px;
  padding-bottom: 60px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.div-block-6 {
  max-width: 80%;
}

.heading-3 {
  margin-bottom: -1px;
  font-family: 'Open Sans', sans-serif;
  color: #434343;
}

.text-block-2 {
  margin-bottom: 7px;
  color: #7c7979;
  font-size: 12px;
}

.container-2 {
  margin-bottom: 32px;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 37px;
  padding-bottom: 37px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
}

.div-block-7.no-border {
  border-bottom-width: 0px;
}

.heading-4 {
  margin-top: 11px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #434343;
  font-size: 24px;
}

.text-block-3 {
  max-width: 300px;
  margin-bottom: 16px;
}

.div-block-8 {
  margin-left: 90px;
}

.active-project {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a3ded8), to(#a3ded8));
  background-image: linear-gradient(180deg, #a3ded8, #a3ded8);
  color: #16877c;
}

.abandoned-project {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edb4bd), to(#edb4bd));
  background-image: linear-gradient(180deg, #edb4bd, #edb4bd);
  color: #b53348;
}

.text-block-4 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d2d2d2;
  font-family: 'Open Sans', sans-serif;
  color: #434343;
}

.text-block-5 {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  border-style: none;
  border-width: 0px;
  border-color: #45caac;
  border-radius: 10px;
  background-color: #c6c6c6;
  font-family: 'Open Sans', sans-serif;
  color: #434343;
  font-weight: 400;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .div-block-6 {
    max-width: none;
  }
  .heading-4 {
    margin-top: 0px;
  }
  .div-block-8 {
    max-width: 38%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .div-block {
    height: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .heading {
    text-align: left;
  }
  .text-block {
    text-align: left;
  }
  .div-block-3 {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .div-block-8 {
    max-width: none;
    margin-top: 10px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .div-block {
    height: 380px;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .heading {
    font-size: 1.4em;
    text-align: center;
  }
  .text-block {
    text-align: center;
  }
  .div-block-2 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image {
    max-height: 130px;
    max-width: 130px;
  }
  .div-block-3 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

