body {
  margin: 0px;
  font-family: Avenir,'helvetica neue',helvetica,arial,sans-serif;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.personalcard {
  width: 600px;
  height: 150px;
  background-color: black;
  border-radius: 10%;
}
