<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Engagement Rate Calculator</title>
  <base href="https://ferminrp.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- production version, optimized for size and speed -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="./style.css">
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">

  <meta name="description" content="Calculadora de Engagement Rate gratis para instagram." />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ferminrp">
  <meta name="twitter:title" content="Calculadora de Engagement Rate Para Instagram">
  <meta name="twitter:description" content="Calculadora de Engagement Rate gratis para instagram">
  <meta name="twitter:creator" content="@ferminrp">
  <-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="https://i.imgur.com/q86ZztX.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="Calculadora de Engagement Rate Para Instagram" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ferminrp.com/tools/er-calculator/" />
    <meta property="og:image" content="https://i.imgur.com/q86ZztX.png" />
    <meta property="og:description" content="Calculadora de Engagement Rate gratis para instagram" />
    <meta property="og:site_name" content="Fermin RP" />



</head>

<body>

  <div id="app">
    <h1>Calculadora de Engagement Rate <span class="highlight">Para Instagram</span></h1>
    <div class="form">
      <h4>¿Que cuenta queres analizar?</h4>
      <input placeholder="therock" v-model="user" @keyup.enter="updateData()" type="text">
      <button @click="updateData()">Calcular</button>
    </div>
    <div class="profileInfo" v-if="info !== null">
      <div class="profileCard">
        <div v-bind:style="{ backgroundImage: 'url(' + this.profilePic + ')' }" class="profilePicture"></div>
        <div class="userInfo">
          <h3>{{name}}</h3>
          <div class="kpis">
            <div>
              <p>{{Number(followers).toLocaleString()}} Followers</p>
              <p>{{totalEngagements.toLocaleString()}} Engagements</p>
            </div>
            <div>
              <p>{{Number(following).toLocaleString()}} Following</p>
              <p class="strong highlight">{{ engagementRate }} Eng. Rate</p>
            </div>
          </div>

        </div>
      </div>
      <div class="posteos">
        <div class="posts-grid">
          <div v-bind:style="{ backgroundImage: 'url(' + post.node.display_url + ')' }" v-for="post in posts" :key="post.message" class="post">
            <div class="overlay">
              <p class="likes">❤ {{ post.node.edge_liked_by.count.toLocaleString() }}</p>
              <p class="comments">💬 {{ post.node.edge_media_to_comment.count.toLocaleString() }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <p class="footer">Built with ❤ by <a class="highlight" href="https://ferminrp.com/">ferminrp</a></p>

  </div>
  <script src="./script.js"></script>
</body>

</html>